<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sent a Mail</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="{%url 'index'%}" method="post">
            {% csrf_token %}
            Email: <input type="email" name="email">
             <br><br>
            Receiver Name: <input type="name" name="name">
             <br><br>
            City: <select name="city">
                <option value="Mumbai">Mumbai</option>
                <option value="Delhi">Delhi</option>
                <option value="Chennai">Chennai</option>
                <option value="Banglore">Banglore</option>
                <option value="Kolkata">Kolkata</option>
            </select>
            <br><br>
            Submit: <input type="submit">
        </form>
    </body>
</html>